/* <!-- 
Made by: 
Lois dara D. sanglap 170000366
Justin D. Grumal 240005134
Dustin Dwayne N. Diaz 240005195 --> */

/* FONTS */
@font-face {
    font-family: 'AnonymousPro';
    src: url('fonts/AnonymousPro-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'AnonymousPro';
    src: url('fonts/AnonymousPro-BoldItalic.ttf') format('truetype');
    font-style: italic;
    font-weight: bold;
}

@font-face {
    font-family: 'AnonymousPro';
    src: url('fonts/AnonymousPro-Bold.ttf') format('truetype');
    font-weight: bold;
}

@font-face {
    font-family: 'AnonymousPro';
    src: url('fonts/AnonymousPro-Italic.ttf') format('truetype');
    font-style: italic;
}

@font-face {
    font-family: 'BHegarty';
    src: url('fonts/BBHHegarty-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PatrickHand';
    src: url('fonts/PatrickHand-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url('fonts/Inter-VariableFont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url('fonts/Inter-Italic-VariableFont.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Archivo';
    src: url('fonts/Archivo-VariableFont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Archivo';
    src: url('fonts/Archivo-Italic-VariableFont.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'ArchivoBlack';
    src: url('fonts/ArchivoBlack-Regular.ttf') format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: 'Bokor';
    src: url('fonts/Bokor-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'RobotoSerif';
    src: url('fonts/RobotoSerif-VariableFont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'RobotoSerif';
    src: url('fonts/RobotoSerif-Italic-VariableFont.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'VSCode';
    src: url('fonts/CascadiaCode-VariableFont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'VSCode';
    src: url('fonts/CascadiaCode-Italic-VariableFont.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

&::-webkit-scrollbar{
    display: none;
}

html, body, p, h1, h2, h3, h4, h5, h6 {
    padding: 0;
    margin: 0;
}


.overflow-break{
    overflow-wrap: break-word;
}

.section-container {
    height: 100%;
    min-height: 100vh;
    animation: zoomFadeIn;
    animation-timeline: view();
    animation-range: entry 2rem;
}

.opp:hover{
    opacity: 0.9;
}

#bannerImg{
    position: absolute;
    top: 0%;
    right: 0%;
    width: 100vw;
    height: 50vh;
    pointer-events: none;
}

@media screen and (max-width: 1100px){ 
    #bannerImg{
        display: none;
    }
}

#heading {
    opacity: 0;
    animation: fadeIntro 1.5s ease-in forwards;
}

#maori-brain {
    shape-outside: circle(50%);
}

.btn{
    transition: transform 0.5s ease-out !important;
    box-shadow: 3px 4px #111111b4 !important;
}

button:hover{
    transform: scale(1.05);
    transition: transform 0.3s ease-in;
}

.bg-polkadots {
    background-color: #e5e5f7;
    background-repeat: repeat;
    background-image: radial-gradient(#da5757 1.5px, #f7e6e5 1px);
    background-size: 20px 20px;
}

.bg-paperlines {
    background-color: #e5e5f7;
    background-repeat: repeat;
    background-size: 20px 20px;
    background-image:  repeating-linear-gradient(0deg, #3E6FDE, #3E6FDE 1px, #e5e5f7 1px, #e5e5f7);
}

.bg-static {
    position: relative;
    z-index: 1;
    margin: 0;
    padding: 0;
}

.bg-static::before {
    margin: 0;
    padding: 0;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.625;
    z-index: -1;
    background-repeat: repeat;
    background-size: 550px 280px;
    background-image: url("public/static-noise.jpg");
}

.slider {
    animation: 20s slide infinite linear running;
}

.hover-stop:hover {
    animation-play-state: paused!important;
}

.carousel-control-prev-icon, .carousel-control-next-icon {
    background-size: 64px 64px;
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='white'%3e%3cpath d='M10 3L4 8l6 5V3z'/%3e%3c/svg%3e")!important;
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='white'%3e%3cpath d='M6 3l6 5-6 5V3z'/%3e%3c/svg%3e")!important;
}

@keyframes zoomFadeIn {
    from { scale: 0.75; opacity: 0;}
    to {scale: 1; opacity: 1;}
}

@keyframes fadeIntro {
    from { opacity: 0; } to {opacity: 1;}
}

@keyframes slide {
    from {transform: translateX(0%);}
    to {transform: translateX(-50%);}
}